{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block feed %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="static/css/posts.css" rel="stylesheet">
<div class="add-post">
    <button class="add-post-btn-closse" onclick="hideAddPost()">×</button>
    <form class="add-post-form" method="POST" enctype="multipart/form-data">
        {{ add_post_form.hidden_tag() }}

        <div class="container mt-5">
            <div class="add-photo-btn">
                <button type="button" class="add-post-input" onclick="document.getElementById('media-upload').click()">Добавить фото/видео</button>
                <input name="media-upload" type="file" id="media-upload" multiple style="display: none;" accept="image/*, video/*">
            </div>
            <div class="carousel-container">
                <div id="mediaCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" id="carouselInner">
                        <div class="carousel-item active"><p>Нет медиа</p></div>
                    </div>
                    <button class="carousel-control-prev custom-control" type="button" data-bs-target="#mediaCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next custom-control" type="button" data-bs-target="#mediaCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="mb-3">
            {{ add_post_form.title.label }}<br>
            {{ add_post_form.title(class="add-post-input") }}<br>
            {% for error in add_post_form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ add_post_form.description.label }}<br>
            {{ add_post_form.description(class="add-post-input") }}<br>
            {% for error in add_post_form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="mb-3">
            <input class="add-post-input" type="file" multiple>
        </div>
        <div class="mb-3">{{ add_post_form.submit(class="add-post-input") }}</div>
    </form>
</div>
<div class="block-posts">
    <button class="head-post" onclick="showAddPost()">Добавить пост</button>
    </br>
        {% for i in posts %}
            </br>
            <div class="post-style">
                <image class="author-image" src="\static\user_img\avatar_{{ i.author }}.png"></image>
                <div class="author-post">{{ i.author_surname }} {{ i.author_name }}</div>
                <div>{{ i.title }}</div>
                <div class="content-post-text">{{ i.description }}</div>
                <div class="content-post">
                    <div class="content-post-media">
                        {% if i.content %}
                        <div id="postCarousel-{{ loop.index }}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for media in i.content.split(',') %}
                                <div class="carousel-item {% if loop.first %}active{% endif %}">
                                    {% if media.lower().endswith(('.jpg', '.jpeg', '.png', '.gif')) %}
                                    <img src="{{ url_for('static', filename='uploads/media/' + media) }}" class="d-block w-100" alt="Media">
                                    {% elif media.lower().endswith(('.mp4', '.webm')) %}
                                    <video controls class="d-block w-100">
                                        <source src="{{ url_for('static', filename='uploads/media/' + media) }}" type="video/mp4">
                                    </video>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>

                            <!-- Кнопки навигации (только если больше 1 медиа) -->
                            {% if i.content.split(',')|length > 1 %}
                            <button class="carousel-control-prev" type="button" data-bs-target="#postCarousel-{{ loop.index }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#postCarousel-{{ loop.index }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="date-post">{{ i.date_create.strftime('%H:%M %Y-%m-%d') }}</div>
            </div>
        {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/js/posts.js"></script>
{% endblock %}