<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Предпросмотр изображения</title>
  <style>
    #preview {
      margin-top: 20px;
      max-width: 300px;
      border: 1px solid #ccc;
      padding: 10px;
    }
    #preview img {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <h1>Загрузите изображение</h1>
  <form id="uploadForm">
    <input type="file" id="imageInput" accept="image/*">
    <input type="file" id="imageInput2" accept="image/*">
    <div id="preview"></div>
    <div id="preview2"></div>
    <iframe width="875" height="492" src="https://www.youtube.com/embed/DJfg39WkMvE" title="Blend W" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </form>

  <script src="/static/js/prof_settings.js"></script>
</body>
</html>